.heading {
  background-color: #006a5c;
  padding: 20px;
  text-align: center;
  color: #fff;
  min-width: 400px;
}
.heading-name {
  font-size: 24px;
  margin: 0;
}

.heading-slogan {
  font-size: 16px;
  margin: 10px 0;
}

.main {
  min-width: 400px;
}
.share-back-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.back-btn-div {
  display: flex;
  align-items: center;
}
.back-btn {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
  /* margin-right:auto; */
  padding: 10px;

  /* Add other styles as needed */
}
.back-btn i {
  color: #333;
}
.back-btn:hover i {
  color: #555;
}

.githubRepo-div {
  display: flex;
  align-items: center;
}
.githubRepo-div a {
  text-decoration: none;
  padding: 6px;
}
.githubRepo-div i {
  font-size: 24px;
}

.input-container {
  justify-content: center;
  transition: height 2s;
}

.form-container {
  /* width: 400px; */
  background-color: #90dec4;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 5px;
}

.form-link-input {
  display: flex;
  flex-direction: column;
}

.form-link-input label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-link-input input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.text-font {
  font-size: 12px;
  font-family: 'Century Gothic';
  font-weight: bold;
  color: #333;
}

.choose-dir {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.choose-dir-option {
  flex: 1;
  padding: 8px;
  /* margin-right: 10px; */
  border-radius: 3px;
  border: 1px solid #ccc;
}

.create-folder-btn {
  background-color: #90dec4;
  border: none;
  /* padding: 15px; */
  padding-left: 10px;
  padding-top: 7px;
  padding-right: 15px;
  /* border-radius: 20px; */
  cursor: pointer;
  margin-right: 30px;
  margin-left: 5px;
  background-image: url('./folder-logo.svg');
  background-repeat: no-repeat;
  /* background-position: 9px center;  */
  background-size: 23px;
  transition: transform 0.3s ease;
}


.create-folder-btn:hover {
  transform: scale(1.3);
}

.save-link-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.save-link-btn:hover {
  background-color: #45a049;
}

.create-folder-section {
  display: none;
}
.create-folder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 5px; */
  padding-bottom: 5px;
}


.mkdir-input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.mkdir-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.mkdir-btn:hover {
  background-color: #45a049;
}

.output-container {
  /* margin-top: 20px; */
  text-align: center;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background-color: #90dec4;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

.toggle-buttons {
  flex-grow: 1;
  /* border: 1px solid black; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.show-links-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: auto;
}

.show-links-btn:hover {
  background-color: #2980b9;
}

.export-btn {
  background-color:  #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: auto;
}

.export-btn:hover {
  background-color:  #e9341f;
}

.search-bar-div-class {
  display: none;
}
.search-bar-class {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 7px;
  padding-bottom: 7px;
}
.search-bar {
  padding: 8px;
  width: 200px;
  border-radius: 10px;
  font-size: 13px;
  margin: auto;
}

.output-link-container {
  height: 250px;
  max-width: 420px;
  overflow-y: auto;
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
  background-color: #90dec4;
  padding: 10px;
  border-radius: 5px;
  display: none;
  /* border: black 1px solid; */
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-width: 350px;
  overflow:auto;
}

.toast.show {
  opacity: 1;
}



/* css for the elements created dinamically */
.folder-itself {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}
.folder-itself .folder-heading {
  font-size: 18px;
  margin: 10px 0;
}
.folder-itself .folder-delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 10px;
}
.folder-itself .folder-delete-btn:hover {
  background-color: #c0392b;
}

.item-in-folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.item-in-folder .item-ka-link {
  flex: 1;
  white-space: nowrap;
  overflow: auto;
  text-overflow: auto;
  color: #333;
  text-decoration: none;
  margin-right: 10px;
  font-size: 12px;
  font-family: 'Century Gothic';
  font-weight: bold;
}
.item-in-folder .copy-link-btn{
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}
.item-in-folder .copy-link-btn:hover {
  background-color: #2980b9;
}
.item-in-folder .link-delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 10px;
  cursor: pointer;
}
.item-in-folder .link-delete-btn:hover {
  background-color: #c0392b;
}